{% extends "template_base.html" %}

{% block title_head %}Sobre Mí{% endblock title_head %}

{% block contenido %}
<div style="display: flex; justify-content: center; align-items: center; margin-top: 50px; gap: 20px; flex-wrap: wrap;">
    
    <div style="max-width: 400px; text-align: left; background: rgba(255, 255, 255, 0.9); padding: 20px; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">
        <h2 style="color: #ffcc00; text-align: center;">Daniel Romano</h2>
        <p>¡Hola! Soy un apasionado de la tecnología y los videojuegos. Me gusta desafiarme constantemente en mis proyectos, buscando siempre optimizar procesos y mejorar la eficiencia.</p>
        <p>Además, disfruto mucho del pádel, tanto en entrenamientos como en competencias amistosas. Mi espíritu competitivo me motiva a seguir mejorando día a día.</p>
        <p>En AJUPAM, somos un grupo de apasionados por el pádel que trabajamos para fomentar y dar a conocer este increíble deporte. Nos esforzamos por ser un vínculo entre jugadores y distintas organizaciones, fortaleciendo la comunidad y promoviendo el crecimiento del pádel.</p>
        <p>Nuestra web nace con el propósito de ofrecer un ranking centralizado y público, accesible para todos, donde cualquier jugador pueda consultar su posición y evolución. Además, buscamos facilitar la carga de datos para los miembros de la asociación, asegurando un sistema eficiente y transparente.</p>
    </div>
    
    
    <div>
        <iframe src="https://www.instagram.com/p/C-tc2Hbs10m/embed" width="400" height="480" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
    </div>
</div>
{% endblock contenido %}
