{% extends "template_base.html" %}

{% block title_head %}Ranking{% endblock title_head %}
{% block title %}Listado de jugadores{% endblock title %}

{% block contenido %}
<div class="search-form">
    <form action="" method="GET">
        <input type="text" name="nombre" placeholder="Nombre">
        <select name="categoria">
            <option value="">Categoría</option>
            {% for value, label in formulario.fields.categoria.choices %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Buscar">
        
        <a href={% url "agregar_jugador" %} class="menu-btn">➕ Agregar Jugador</a>
    </form>
</div>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Puntos</th>
                <th>Participaciones</th>
                <th>Promedio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if jugadores %}
            {% for jugador in jugadores %}
            <tr>
                <td>{{ jugador.nombre }}</td>
                <td>{{ jugador.apellido }}</td>
                <td>{{ jugador.puntos|default:"0" }}</td>
                <td>{{ jugador.participaciones|default:"0" }}</td>
                <td>{{ jugador.promedio }}</td>
                <td>
                    <a href="{% url 'ver_jugador' jugador.id %}" class="action-btn view-btn">👁‍🗨</a>
                    <a href="{% url 'modificar_jugador' jugador.id %}" class="action-btn edit-btn">📝</a>
                    <a href="{% url 'eliminar_jugador' jugador.id %}" class="action-btn delete-btn">❌</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <div style="max-width: 2000px; text-align: center; background: rgba(255, 255, 255, 0.9); padding: 20px; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">No existen jugadores con el filtro aplicado.</div>
            {% endif %}
        </tbody>
    </table>

{% endblock contenido %}
