{% extends "template_base.html" %}

{% block title_head %}Ranking{% endblock title_head %}
{% block title %}Listado de jugadores{% endblock title %}

{% block contenido %}
<div class="form-container">
    <form action="" method="GET">
        {{ formulario.as_p }}
        <input type="submit" value="Buscar">
    </form>
</div>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Puntos</th>
                <th>Participaciones</th>
                <th>Promedio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for jugador in jugadores %}
            <tr>
                <td>{{ jugador.nombre }}</td>
                <td>{{ jugador.apellido }}</td>
                <td>{{ jugador.puntos|default:"0" }}</td>
                <td>{{ jugador.participaciones|default:"0" }}</td>
                <td>{{ jugador.promedio }}</td>
                <td>
                    <a href="{% url 'ver_jugador' jugador.id %}" class="action-btn view-btn">👁‍🗨</a>
                    <a href="{% url 'modificar_jugador' jugador.id %}" class="action-btn edit-btn">📝</a>
                    <a href="{% url 'eliminar_jugador' jugador.id %}" class="action-btn delete-btn">❌</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock contenido %}
